__pycache__
.env
_old
uploads
.ipynb_checkpoints
*.db
_test
Pipfile
!/data
/data/*
!/data/litellm
/data/litellm/*
!data/litellm/config.yaml
!data/statistic.py

!data/config.json
/open_webui/data/*
.webui_secret_key